<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://github.com/wxpaulgithub" target="_blank"
    >
      Gemini Pro
    </a>
    <span px-1>|</span>
原创代码 Baobaohuang @ Github 
        {import.meta.env.PARTNER_LINK && import.meta.env.PARTNER_LINK_TITLE && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE}
        </a>
      </>
    )}
  </p>
</footer>
