---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Gemini Pro</span>
    <span class="gpt-subtitle">Chat</span>
  </div>
  <p mt-1 op-50>Based on Google Gemini Pro API.</p>
<p mt-6 op-30>Paul 改编制作 Dec 2023</p>
</header>
